# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\adam1\Documents\_UNI\AI\Coursework 2 Pacman vs Ghosts-20201113\adversarial_search_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
